{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Last 100 Transactions</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Transaction Date</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>
                            <a href="{{ path('fennis_finance_transaction_show', {'transaction': transaction.id }) }}">
                                {{ transaction.name }}
                            </a>
                        </td>
                        <td>{{ transaction.description | truncate(50) }}</td>
                        <td>{{ transaction.transactionDate | localizeddate('medium', 'none') }}</td>
                        <td>{{ transaction.amount | money }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}